:host {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* para ficar um cano embaixo e outro em cima e o espaço entre eles*/
}